:root {
  --color-text: #384552;
  --color-bg: #fff;
  --color-effect: #FFBE2B;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-text);
  height: 100vh;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin: 0;
  padding: 0 35px 0 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  height: 5rem;
  border-bottom: 2px solid var(--color-effect);
}

.header img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.logo {
  width: 3rem;
}

.h1 {
  margin-left: 1rem;
  font-size: 2rem;
}

.main {
  width: 100%;
  height: 100%;
}

.main .form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 60px;
  width: 800px;
}

.main .form__search .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.main .form__search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.main .form__search .inp__search {
  height: 4rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 5px;
  margin: 0 2rem;
  font-size: 2rem;
  padding: .5rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main .form__search .inp__search:hover, .main .form__search .inp__search:focus {
  border-color: var(--color-effect);
  outline: 2px solid var(--color-effect);
  outline-offset: .4rem;
}

.main .form__search button {
  width: 10rem;
  height: 4rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 5px;
}

.main .form__search button:hover, .main .form__search button:focus {
  border-color: var(--color-effect);
  outline: 2px solid var(--color-effect);
  outline-offset: .4rem;
}

.main #conteneur {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: #FFBE2B;
}

.main img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  background-color: #ebebeb;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1rem .5rem;
  }
  .header h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 0 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */